.parallax-overlay{
    background-color: rgba(0, 0, 0, 0.8);
}


#intro{
    color:white;
}


#team, #clients-testimonials, #featured-works, #contact, #mainBlog{
    background: url('../img/daimond_eyes_black_.png') repeat;
    color:white;
}

#about{
     color:white;
     padding: 0px 0 5px;
}

#portfolio{
     color:white;
     padding: 0px 0 5px;
}

#recentBlog{
     color:white;
     padding: 0px 0 5px;
     }
#fun-facts{
     color:white;
     padding 0px 0 5px;
}

#why-choose-us{
     color:white;
     padding 0px 0 5px;
}

#features{
    color:white;
}

p {
    color: #f3f3f3;
}

.widget ul li a {
    color: #f3f3f3;
}

#what-we-do{
    color:white;
}

a {
    color:white;
}

.tab-content {
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 40px;
}

ul li {
    color: #9d9d9d;
}

.bigSeparator {

    background-color: #9d9d9d;

}

.panel-default > .panel-heading {
    color: #f3f3f3;
    background-color: #333;
    border-color: #111;
}

.panel {

    background-color: transparent;
}

.tab-content {
    background-color: rgba(255, 255, 255, 0.0);
}


#why-choose-us .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #f3f3f3;
    background-color: #333;
    border: 1px solid #000;
    border-top: 3px solid #c99f6c;
    border-bottom-color: transparent;
}

.nav-tabs {
    border-bottom: 1px solid #000;
}

.progress {

    background-color: #555;
}


.owl-theme .owl-dots .owl-dot span {
    background: url('../img/slider-pageWhite.png') no-repeat;
}


#singlePageContent{
    background-color:#333;
}


#singlePageIntro {
    color:black;
}

p.serifItalic {
    color: white;
}

#team .teamCaption .serifItalic{
    color:#f3f3f3;

}


#transmitter p.serifItalic {
    color: black;
}


.breadcrumb {
    background-color: transparent;
}