@media (min-width: 1200px){

}


/*Notebooks and Small Laptops*/
@media (min-width: 1025px){

}

/*iPad Landscape Mode and Large Tablets */
@media (max-width: 1024px){


}

/*Small Desktop and Very Small Notebook */
@media (max-width: 980px){


}

/*Medium Tablets */
@media (max-width: 800px){


}


/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 768px){
    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 22px;
    }

    .introLogo{
        width:150px;
        margin:0 auto;
        margin-top: -30px;
    }

    #intro {
        padding-top: 100px;

    }

    .xSep {
        width: 20px;
        margin: 10px auto;
    }

    .dottedSep {

        width: 70px;
        margin: 10px auto;}

    .oswald {
        font-size:10px;
    }

}

/*Medium Smart Phones v2*/
@media screen and (max-width: 640px){


}

@media screen and (max-width: 600px){




}

@media screen and (max-width: 600px) and (orientation : landscape){
    .introLogo{
        width:150px;
        margin:0 auto;
        margin-top: -30px;
    }

    #intro .container {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}


@media screen and (max-width: 480px){

    section .container {
         padding-top: 50px;
        padding-bottom: 50px;
    }

    h1 {
        font-size: 40px;
    }

    h3 {
        font-size: 22px;
    }

    h4.oswald {
        letter-spacing: 2px;
    }


    #text-separator .btn {
        margin: 10px;
    }

    #filters > button{
        margin:10px;
    }



}

/*Other Major Small Smart Phones*/
@media screen and (max-width: 360px){



}

/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 320px) {


}
