html,
body {
    width:100%;
    height:100%;
    padding:0;
    margin-left:0;
    margin-right:0;
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Open Sans', sans-serif;
    overflow:hidden;
}

#icônes-ampoule {
    background: url('img/icon-Planet-informatic/Ampoule-Planet-informatic-Lyon-Graphiste-et-Webmaster-Blanc.png') 0 0 no-repeat;
}

#icônes-ampoule:hover {
    background: url('img/icon-Planet-informatic/Ampoule-Planet-informatic-Lyon-Graphiste-et-Webmaster.png') 0 0 no-repeat;
}

a{
    color: #252525;
    text-decoration: none;
}

a:hover, a:focus{
    color: #ff1044;
    text-decoration: none;
    outline: 0;
}


img {
    -moz-user-select: none;
    /*-webkit-user-select: none;*/
    -ms-user-select: none;
    user-select: none;
    /*-webkit-user-drag: none;*/
    user-drag: none;
}


.valign{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img-center{
    margin-left:auto;
    margin-right:auto;
    left:auto;
    right:auto;

}

.noscroll{
    overflow:hidden;
}

.static{
    position: static;
}

section{
    position: relative;
    background-size:cover;
}

.parallax-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.80);
    z-index: 2;
}

p {
    font-family: 'Nexa', sans-serif;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
}


p.serifItalic{
    font-family: 'Nexa', serif;
    font-style:italic;
    font-size:16px;
    line-height: 26px;
    letter-spacing: -0.5px;
}



ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #4c4c4c;
    list-style-type: square;
}

.dark{
    color:white;
}

.whiteText{
    color:white;
}

.white{
    color:#252525;
}

.container {
    position: relative;
    z-index: 3;
}

section .container{
    padding-top:100px;
    padding-bottom:100px;
}

.dottedSep{
    padding-top:40px;
    padding-bottom:40px;
}


.xSep{
    padding-top:40px;
    padding-bottom:40px;
}

.bigSeparator{
    height:8px;
    background-color:black;
    margin-top:100px;
    margin-bottom:0;
}

.dropcap {
    float: left;
    color: inherit;
    font-size: 50px;
    line-height: 40px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    font-family: Georgia;
}

h1, .h1{
    font-size:45px;
    text-transform: uppercase;
}
/* Réalisations */
h1bis, .h1bis{
    font-size:80px;
} 

h2bis, .h2bis{
    font-size:30px;
} 


h2, .h2{
    font-size:40px;
    text-transform: uppercase;
}

h3, .h3{
    font-size:30px;
    text-transform: uppercase;
}

h4, .h4{
    font-size:18px;
    text-transform: uppercase;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.container .row h1{
    margin-bottom:24px;
}

.Aboutcontainer .Aboutrow {
    margin-bottom:20px;
}

.VertMurano{
    color:#ff1044;
}

.Magenta{
    color:#ff1044;
}

.Saumon{
    color:#f05560;
}

.elegantBrown{
    color:#ff1044;
}

.BlancSimple{
    color:#FFFFFF;
    font-family: 'Nexa', sans-serif;
    font-style: bold;
}

.VertMurano2{
    color:#ff1044;
    font-size: 30px;
}


.LobsterTwo{
font-family: 'Lobster Two', cursive;
color: white;
}

.Chewy{
font-family: 'Chewy', cursive;
color: white;
}

.SueEllenFrancisco{
font-family: 'Sue Ellen Francisco', cursive;
color: white;
}

.HappyMonkey{
font-family: 'Happy Monkey', cursive;
color: white;
}

.ShortStack{
font-family: 'Short Stack', cursive;
color: white;
}


.VertMuranoNexa{
    color:#ff1044;
    font-family: 'Nexa', sans-serif;
    font-style: bold;
}

.DegradeQuaithe {
    background: -webkit-gradient(linear, left top, left bottom, from(#ee7e36), to(#f8cea4));
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

.AboutQuaithe {
    font-family: 'Nexa', sans-serif;
    font-weight: 700;
    color:#ffffff;
}

.noletterspacing{
    letter-spacing: 0px;
}

.Quote{
      font-size: 10px
}
.Planet-informatic {
      font-family: 'Arima Madurai', cursive;
}

.Planet-informaticfeatures {
      font-family: 'Arima Madurai', cursive;
      font-size: 30px;
}

.Planet-informaticPortfolio {
      font-family: 'Arima Madurai', cursive;
      font-size: 20px;
}

.FunFactWords {
       font-family: 'Arima Madurai', cursive;
       font-size: 25px;
       color:#ffffff;
}

.AboutPlanet-informatic {
       font-family: 'Arima Madurai', cursive;
       color:#ffffff;
}

.h3skateboard {
       color:#ffffff;
}

.portfolio {
       font-family: 'Arima Madurai', cursive;
       font-size: 25px;
}

.SousTitreDuPortfolio {
      font-family: 'Arima Madurai', cursive;
      font-size: 20px;
}

.serifItalic {
    font-family: 'dubielitalic', sans-serif;
}

.tarifs {
    font-family: 'Baloo Chettan', cursive;
}

.serif {
    font-family: 'Nexa', sans-serif;
    font-style: bold;
}

.CaféDuBonCoinH1 {
    font-family: 'Dancing Script', cursive;
    color: white;
}

.CaféDuBonCoinH1bis {
    font-family: 'Pacifico', cursive;
    color: white;
}

.skateh1 {
    font-family: 'Nexa', sans-serif;
    font-style: bold;
    color: white;
}

.TitreDeBlog {
    font-family: 'Nexa', sans-serif;
    font-style: bold;
    font-size: 40px;
}

.Planet-informatic2 {
    font-family: 'Nexa', sans-serif;
    font-style: bold;
    color:#ffffff;
}


.oswald{
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 20px;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.NexaDateDuBlog{
    font-family: 'Nexa', sans-serif;
    font-size: 17px;
    color:#ffffff;
    font-style: bold;
}

.montserrat .serifItalic{
    text-transform: none;
    font-size:1.2em;
    font-weight: normal;
}

h4.oswald{
    letter-spacing:6px;
}

.dark p{
    color:white;
}

.btn-default {
    color: #333;
    background-color: transparent;
    border:0;
    /*-webkit-transition: all 300ms ease-in-out;*/
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.btn-white {
    color: white;
    background-color: transparent;
    border:0;
}


.white.btn-default {
    color: #333;
    background-color: transparent;
    border:#252525;
}

.btn-default:hover{
    background-color: #252525;
    border-color:#252525;
    color:white;
}

.btn {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 4px double #ff1044;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:2px;
}

.btn-Magenta {
    display: inline-block;
    padding: 8px 16px;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 4px double #ff1044;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:2px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.btn:focus, .btn:active_magenta:focus, .btn.active_magenta:focus {
    outline: 0;
}



/* NAVBAR */

.navbar-default .navbar-nav > li{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:1px;
    padding-top:25px;
    padding-bottom:25px;
}


.navbar-default {
    background-color: #0e0e0e;
    border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active_magenta > a,
.navbar-default .navbar-nav > .active_magenta > a:hover,
.navbar-default .navbar-nav > .active_magenta > a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #e7e7e7;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .active_magenta > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active_magenta > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active_magenta > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }



}
.navbar-default .navbar-link {
    color: #777;
}
.navbar-default .navbar-link:hover {
    color: #333;
}
.navbar-default .btn-link {
    color: #777;
}
.navbar-default .btn-link:hover,
.navbar-default .btn-link:focus {
    color: #333;
}
.navbar-default .btn-link[disabled]:hover,
fieldset[disabled] .navbar-default .btn-link:hover,
.navbar-default .btn-link[disabled]:focus,
fieldset[disabled] .navbar-default .btn-link:focus {
    color: #ccc;
}


.logoNav{
    position:relative;
    width:100px;
    height:100px;
    padding:20px;
}

.navbar-nav {
    float: none;
    margin: 0;
}

.leftNav{
    float:right;
}

/*navbar effect available on screens where the menu doesnt toggle*/

@media screen and (min-width: 700px){
    .navbar-default .navbar-nav > li > a{
        margin:0;
        position:relative;
    }

    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        position: absolute;
        width: 80%;
        left: 10%;
        top: 50%;
        height: 1px;
        margin-top: -1px;
        background: #6c6c6c;
        content: '';
        z-index: -1;
        /*-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;*/
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        pointer-events: none;
    }

    .navbar-default .navbar-nav > li > a::before {
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    .navbar-default .navbar-nav > li > a::after {
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        transform: translateY(20px);
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
        color: #fff;
    }

    .navbar-default .navbar-nav > li > a:hover::before,
    .navbar-default .navbar-nav > li > a:hover::after,
    .navbar-default .navbar-nav > li > a:focus::before,
    .navbar-default .navbar-nav > li > a:focus::after {
        opacity: 0.7;
    }

    .navbar-default .navbar-nav > li > a:hover::before,
    .navbar-default .navbar-nav > li > a:focus::before {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-default .navbar-nav > li > a:hover::after,
    .navbar-default .navbar-nav > li > a:focus::after {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }



    .navbar-default .navbar-nav > .active > a::before,
    .navbar-default .navbar-nav > .active > a::before:hover,
    .navbar-default .navbar-nav > .active > a::before:focus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-default .navbar-nav > .active_magenta > a::before,
    .navbar-default .navbar-nav > .active_magenta > a::before:hover,
    .navbar-default .navbar-nav > .active_magenta > a::before:focus {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .navbar-default .navbar-nav > .active > a::after,
    .navbar-default .navbar-nav > .active > a::after:hover,
    .navbar-default .navbar-nav > .active > a::after:focus {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .navbar-default .navbar-nav > .active_magenta > a::after,
    .navbar-default .navbar-nav > .active_magenta > a::after:hover,
    .navbar-default .navbar-nav > .active_magenta > a::after:focus {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

}




.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;

    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 3px 0 0;
    font-size: 10px;
    text-align: left;
    list-style: none;
    background-color:#1C1C1C;
    background-clip: padding-box;
    border:0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7);

}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 1.42857143;
    color: white;
    white-space: nowrap;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform:uppercase;
    font-size:10px;
    letter-spacing:1px;
    padding-top:10px;
    padding-bottom:10px;
}


.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #676767;
}

@media (max-width: 766px) {
    .leftNav {
        float: left;
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        height: 0px;
    }

    .navbar-default .navbar-nav > li {
        text-align: center;
        padding-top: 0px;
        padding-bottom:0px;
    }

    .navbar-collapse.in {
         overflow-y: visible;
    }

    .navbar-default .navbar-nav > li > a::before,
    .navbar-default .navbar-nav > li > a::after {
        position: relative;
        width: 0%;
        left: 10%;
        height: 0px;
        margin-top: -1px;

        content: '';
        z-index: -1;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: #1c1c1c;
        border: 0;
        box-shadow: none;

    }

    .navbar-nav .open .dropdown-menu li{
        list-style-type: none;
        text-align: center;
    }



}


.navbar-default  .dropdown-menu li{
    list-style: none;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: #000;
}

/* intro */
#intro {
    padding-top: 140px;
}

#intro .dottedSep {
    padding-top: 10px;
    padding-bottom: 10px;
}

#intro .xSep {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* text separator */

#text-separator{
    background-color:#151515;
    padding:10px;
    z-index:10;
}

#text-separator p{
    color: white;
}

#text-separator .btn{
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

/* A la place du blog */

#Alaplacedublog{
    background: url('img/Background/Planet-informatic-background-18.jpg') fixed;
    padding:10px;
    z-index:14;
}

#Alaplacedublog p{
    color: white;
}

#Alaplacedublog .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}


/* Banner-du-bas */

#Banner-du-bas{
    background-color:#000000;
    padding:10px;
    z-index:10;
}

#Banner-du-bas p{
    color: white;
    font-size:15px;

}

#Banner-du-bas .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}


/* partie basse de la page contact */

#Séparation-Planet-informatic-contact{
    background-color:#151515;
    padding:10px;
    z-index:10;
}

#Séparation-Planet-informatic-contact p{
    color: white;
}

#Séparation-Planet-informatic-contact .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

/* Séparation tarifs 1 */

#Séparation-Planet-informatic-tarifs-1{
    background-color:#000000;
    padding:10px;
    z-index:10;
}

#Séparation-Planet-informatic-tarifs-1 p{
    color: white;
}

#Séparation-Planet-informatic-tarifs-1 .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

/* Séparation tarif 2 */

#Séparation-Planet-informatic-tarifs-2{
    background-color:#000000;
    padding:10px;
    z-index:10;
}

#Séparation-Planet-informatic-tarifs-2 p{
    color: white;
}

#Séparation-Planet-informatic-tarifs-2 h2{
    color: white;
    font-size: 25px;
}

#Séparation-Planet-informatic-tarifs-2 .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

/* Séparation tarifs 3 */

#Séparation-Planet-informatic-tarifs-3{
    background-color:#000000;
    padding:10px;
    z-index:10;
}

#Séparation-Planet-informatic-tarifs-3 p{
    color: white;
}

#Séparation-Planet-informatic-tarifs-3 h2{
   color: white;
   font-size: 25px;
}

#Séparation-Planet-informatic-tarifs-3 .btn{
    margin-top:10px;
    margin-left:10px;
    margin-right:10px;
}

/* about section */

#about{
    padding: 5px 0 5px;
        background: url('img/Background/Planet-informatic-background-27.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
        background-attachment: fixed;
    background-color: #0c0c0c;
}

/* GraphismePresentation section */

#GraphismePresentation{
    padding: 5px 0 5px;
        background: url('img/Background/Planet-informatic-background-Graphisme-Impression-Communication-Visuelle-Villefrance-sur-Saone-Lyon.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
        background-attachment: fixed;
    background-color: #0c0c0c;
}

/*diamond shapes */

.diamondWrapper {
    width: 130px;
    margin:20px auto;
    position: relative;
}

.diamondIcon{
    position:absolute;
    top:30px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

/* what we do section3 */

#what-we-do3{
    background: url('img/Background/Planet-informatic-background-impression-graphisme-communication-visuelle-lyon-villefranche-sur-saone.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;

}

.squareWrapper {
    width: 130px;
    margin:20px auto;
    position:relative;
}

.squareIcon{
    position:absolute;
    top: 50px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

.tab-content{
    padding:40px;
}

div.active a{
    color:#ff1044;
}

div.active_magenta a{
    color:#ff1044;
}

.tab-content{
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.40);

    margin-bottom:40px;
}

/* what we do section2 */

#what-we-do2{
    background: url('img/Background/Planet-informatic-background-14.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;

}

.squareWrapper {
    width: 130px;
    margin:20px auto;
    position:relative;
}

.squareIcon{
    position:absolute;
    top: 50px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

.tab-content{
    padding:40px;
}

div.active a{
    color:#ff1044;
}

div.active_magenta a{
    color:#ff1044;
}

.tab-content{
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.40);

    margin-bottom:40px;
}

/* what we do section */

#what-we-do{
    background: url('img/Background/Planet-informatic-background-20.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    background-attachment: fixed;
}

.squareWrapper {
    width: 130px;
    margin:20px auto;
    position:relative;
}

.squareIcon{
    position:absolute;
    top: 50px;
    width:30px;
    margin-left:50px;
    font-size:30px;
}

.tab-content{
    padding:40px;
}

div.active a{
    color:#ff1044;
}

div.active_magenta a{
    color:#ff1044;
}

.tab-content{
    margin-top:20px;
    background-color: rgba(255, 255, 255, 0.40);

    margin-bottom:40px;
}

/*fun facts section*/


#fun-facts{
        padding: 5px 0 5px;
        background: url('img/Background/Planet-informatic-background-28.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
        background-attachment: fixed;
    background-color: #0c0c0c;
}

/*portfolio*/
#portfolio{
        padding: 5px 0 5px;
        background: url('img/Background/Planet-informatic-background-19.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size:cover;
        background-attachment: fixed;
        background-color: #0c0c0c;
}


#portfolio .container {
    padding-top: 50px;
    padding-bottom: 10px;
}

#portfolio .portfolioItem{
    margin-top:40px;
}

#portfolio .imageWrapper {
    overflow: hidden;
    margin: -0.135em;
    width: 100%;
    height: 300px;
    background: #231f20;
    text-align: center;
    position:relative;
    /*cursor: pointer;*/
}

#portfolio .imageWrapper img {
    position: relative;
    display: block;
    min-height: 100%;
    opacity: 0.3;
    height:100%;
}

#portfolio .imageWrapper .caption {

    backface-visibility: hidden;
}

#portfolio .imageWrapper .caption h4{
    margin:0;
}

#portfolio .imageWrapper .caption p{
    color:white;
    letter-spacing:0.5px;
}

#portfolio .imageWrapper .caption::before,
#portfolio .imageWrapper .caption::after {
    pointer-events: none;
}

#portfolio .imageWrapper .caption{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#portfolio .imageWrapper a {
    z-index: 1000;
    opacity: 0;
    color:white;
    top:20px;
}

#portfolio .imageWrapper .caption {
    color:white;
}

#portfolio .imageWrapper.effect {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

#portfolio .imageWrapper.effect img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,0,300px);
    transform: translate3d(0,0,300px);
}

#portfolio .imageWrapper.effect:hover img {
    opacity: 0.8;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

#portfolio .imageWrapper.effect .caption::before,
#portfolio .imageWrapper.effect .caption::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #ff1044;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

#portfolio .imageWrapper.effect:hover .caption::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

#portfolio .imageWrapper.effect:hover .caption::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}

/* Effect sur le portfolio Magenta */
#portfolio .imageWrapper.effect .caption-Magenta::before,
#portfolio .imageWrapper.effect .caption-Magenta::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 1px;
    background: #ff1044;
    content: '';
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}

#portfolio .imageWrapper.effect:hover .caption-Magenta::before {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(45deg);
    transform: translate3d(-50%,-50%,0) rotate(45deg);
}

#portfolio .imageWrapper.effect:hover .caption-Magenta::after {
    opacity: 0.5;
    -webkit-transform: translate3d(-50%,-50%,0) rotate(-45deg);
    transform: translate3d(-50%,-50%,0) rotate(-45deg);
}


#portfolio .imageWrapper.effect h4,
#portfolio .imageWrapper.effect p {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}

#portfolio .imageWrapper.effect h4 {
    -webkit-transform: translate3d(0,-60%,0) translate3d(0,-160%,0);
    transform: translate3d(0,-60%,0) translate3d(0,-160%,0);
}

#portfolio .imageWrapper.effect p {
    padding: 0.25em 2em;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,100%,0);
    transform: translate3d(0,-50%,0) translate3d(0,100%,0);
}

#portfolio .imageWrapper.effect:hover h4 {
    -webkit-transform: translate3d(0,-60%,0) translate3d(0,-110%,0);
    transform: translate3d(0,-60%,0) translate3d(0,-100%,0);
}

#portfolio .imageWrapper.effect:hover p {
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,60%,0);
    transform: translate3d(0,-50%,0) translate3d(0,60%,0);
}


#portfolio .imageWrapper.effect:hover a {
    opacity: 1;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

#portfolio .moreText{
    line-height:1em;
    font-size:4em;
    position:absolute;
    top:60%;
    left:46%;
}



#portfolio .mfp-title{
    font-family: 'Oswald', sans-serif;
    font-size:18px;
    text-transform:uppercase;
    text-align: center;
    letter-spacing:1px;
    line-height: 34px;
    color: #f3f3f3;
    word-wrap: break-word;
    padding-right: 36px;
}

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color:#000000;
    z-index:3000;
    overflow-y: scroll;
}

.overlay-section{
    position: static;
}
/* Effects */
.overlay-slidedown {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
    transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
}

.overlay-slidedown.open {
    visibility: visible;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    -webkit-transition: -webkit-transform 0.4s ease-in-out;
    transition: transform 0.4s ease-in-out;
}



.overlay-close img{
    cursor:pointer;
}

.overlay-close{
    padding:30px;
}


.close-ajax{
    padding:30px;
}

.close-ajax img{
    cursor: pointer;
}

.close-ajaxWrapper{
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

 /*team*/

#team{
    background: url('img/daimond_eyes.png') repeat;
}

.member {
    padding:30px;
    text-align:Center;
}

.member img{
    height:auto;
}


.teamCaption .dottedSep{
    padding:20px;
}


.teamCaption .dottedSep img{
    width:60px;
    height:auto;
}

.memberSocial a{
    margin:5px;
}

.teamMember{
    padding:10px;
}

.teamMember img{
   margin:0 auto;
}


.teamCaption h3{
    padding-top:20px;
}

#team .teamCaption .serifItalic{
    font-weight:normal;
    font-size:18px;
    color:black;
    letter-spacing:-0.5px;
    line-height: 30px;
}

/*/features*/

#features{
    background: url('img/Background/Planet-informatic-background-3.jpg') no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#features .container{
    padding-bottom: 0;
}
.feature{
    padding:30px;
}

/*CLIENTS*/

#clients{
    background-color:#363636;
}

#clients .container{
    padding-top:30px;
    padding-bottom:30px;
}



/*clinets review*/

#clients-reviews{
    padding:10px;
    background: url("img/Background/Planet-informatic-background-12.jpg") no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#clients-reviews .parallax-overlay{
    background-color: rgba(0, 0, 0, 0.70);
}

#clients-reviews .review .serif,
#clients-reviews .review .serifItalic{
    text-transform:none;
}

#clients-reviews .owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: transparent;
}


/*pricing tables2*/


#pricing-tables2{
   background: #000 url('img/Background/Planet-informatic-background-2.jpg') fixed;
}

#pricing-tables2 .subscriptionPrice h4, .subscriptionPrice h3{
    display: inline-block;
}

#pricing-tables2 .subscriptionList ul {

    padding:20px;

}

.dark .subscriptionList ul li{
    color:white;
}
#pricing-tables2 .subscriptionList ul li{
    list-style-type:none;
}

#pricing-tables2 .tableWrapper{
    border: 4px double #ff1044;
    padding:40px;
    margin:20px;
}

#pricing-tables2 .recommended{
    margin-top:-20px;
}

/*pricing tables3*/


#pricing-tables3{
    background: #000 url('img/Background/Planet-informatic-background-6.jpg') fixed;
 }
 
 #pricing-tables3 .subscriptionPrice h4, .subscriptionPrice h3{
     display: inline-block;
 }
 
 #pricing-tables3 .subscriptionList ul {
 
     padding:20px;
 
 }
 
 .dark .subscriptionList ul li{
     color:white;
 }
 #pricing-tables3 .subscriptionList ul li{
     list-style-type:none;
 }
 
 #pricing-tables3 .tableWrapper{
     border: 4px double #ff1044;
     padding:40px;
     margin:20px;
 }
 
 #pricing-tables3 .recommended{
     margin-top:-20px;
 }

/*why choose us*/

#why-choose-us{
          padding: 5px 0 5px;
          background: url('img/Background/Planet-informatic-background-29.png');
          background-repeat: no-repeat;
          background-position: center center;
          background-size:cover;
          background-attachment: fixed;
      background-color: #0c0c0c;
}


#why-choose-us  .panel-heading {
    padding: 20px;
    background-color: #111111;
}

#why-choose-us .panel-group .panel {
    margin-bottom: 20px;
    border-radius: 0;
    overflow: hidden;
    border:4px double #ff1044;

    margin-left: 40px;
    margin-right: 40px;

}
#why-choose-us  .tab-content{
    padding:0px;
}

#why-choose-us .nav-tabs > li > a {

    border-radius: 0;

}

#why-choose-us .nav > li > a {
    padding: 5px 15px;
}

#why-choose-us .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color:transparent;
    border-top:3px solid #ff1044;
    margin-top:-3px;
}

#why-choose-us .nav-tabs > li.active_magenta > a, .nav-tabs > li.active_magenta > a:hover, .nav-tabs > li.active_magenta > a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color:transparent;
    border-top:3px solid #ff1044;
    margin-top:-3px;
}

.progress-bar {

    background-color: #363636;

}

.progress-striped .progress-bar, .progress-bar-striped {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .05) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
}

/*pricing tables*/


#pricing-tables .parallax-overlay{
    background-color: rgba(0, 0, 0, 0.90);
}

#pricing-tables .subscriptionPrice h4, .subscriptionPrice h3{
    display: inline-block;
}

#pricing-tables .subscriptionList ul {

    padding:20px;

}

.dark .subscriptionList ul li{
    color:white;
}
#pricing-tables .subscriptionList ul li{
    list-style-type:none;
}

#pricing-tables .tableWrapper{
    border: 4px double #ff1044;
    padding:40px;
    margin:20px;
}

#pricing-tables .recommended{
    margin-top:-20px;
}


/*featured works*/

#featured-works{
    background: url('img/daimond_eyes.png') repeat;
}

.featuredWork img{
    width:100%;
}

.featuredWork{
    position:relative;
}

.featuredWork .caption {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(40, 40, 40, 0.90);
    -webkit-transition: all 1s ease-in-out;
    z-index:100;
}


.featuredWork:hover .caption{
    opacity: 1;

}

.featuredWork .caption-heading {
    width:100%;
    height:100px;
}

.featuredWork .caption-heading .serifItalic{
    color:white;
    text-transform:none;
}



/*information*/
#our-information{
    padding:20px;
    background: url('img/Background/Planet-informatic-background-6.jpg') no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

#our-information .parallax-overlay{
    background-color: rgba(0, 0, 0, 0.70);
}


/*contact page*/
#contact{
    background: url('img/daimond_eyes.png') repeat;
}

#contact_form input{
    width:100%;
    height:50px;
    padding:10px;
    padding-bottom:0px;
    border:0;
    background:transparent;
    border-bottom:1px solid #ff1044;
    border-left:1px solid #ff1044;
    font-family: 'dubielitalic', sans-serif;
    color: #ff1044;
}

#contact_form input:focus{
    outline:0;
    background:transparent;
}

#contact_form label{
    width: 90%;
    margin:10px;
    color:#ff1044;
}

#contact_form textarea:focus{
    outline:0;
    background:transparent;
}


#contact_form textarea{
    width:100%;
    height:190px;
    padding:10px;
    padding-bottom:0px;
    border:0;
    background:transparent;
    border-bottom:1px solid #ff1044;
    border-left:1px solid #ff1044;
    font-family: 'dubielitalic', sans-serif;
    color: #ff1044;
}



#contact_form input#submit{
    border:0;
    font-size:20px;
    padding:0;
    padding-left:20px;
    padding-right:20px;
    height:30px
}

/*informations_et_comptetences*/
#informations_et_comptetences{
    padding:20px;
    background: url('img/Background/Planet-informatic-background-8.jpg') no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

/*google map*/

#googleMap {
    width: 100%;
    height: 350px;
    overflow: hidden;
}


/*footer*/
#footer .topLine{
    padding:20px;
    margin:0 auto;
    background-color:#353535;
}

#footer .footerLogo{
    width:260px;
    margin-top:40px;
    margin-bottom:40px;
}

#footer .bottomLine{
    padding:20px;
    margin:0 auto;
    background-color:#282828;
}

.bottomLine p{
    padding:5px;
    font-size:12px;
}

.bottomLine .footerSocialIcons{
    padding:20px;
}

.footerSocialIcons{
    list-style:none
}

.footerSocialIcons li{
    display:inline;
    margin:0 10px;
}

.footerSocialIcons li a{
    color:white;
}

/*footer-graphisme*/
#footer-graphisme .topLine{
    padding:20px;
    margin:0 auto;
    background-color:#050505;
}

#footer-graphisme .footerLogo{
    width:260px;
    margin-top:40px;
    margin-bottom:40px;
}

#footer-graphisme .bottomLine{
    padding:20px;
    margin:0 auto;
    background-color:#282828;
}

.bottomLine p{
    padding:5px;
    font-size:12px;
}

.bottomLine .footerSocialIcons{
    padding:20px;
}

.footerSocialIcons{
    list-style:none
}

.footerSocialIcons li{
    display:inline;
    margin:0 10px;
}

.footerSocialIcons li a{
    color:white;
}


/* Page du portfolio */
#PagesTest{
    height:300px;
    background: url('img/Background/Planet-informatic-background-30.png');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
#singlePageContent{
    background-color:dark;
}
#PagesTest .container{
    padding:30px;
}

#singlePageContent{
    padding:50px;
}

.singleProjectInfo ul li{
    list-style-type: none;
}

.singleProjectInfo{
    border-left:4px double #ff1044;

}

.singleProjectInfo ul{
    list-style-type: none;
    padding:10px 40px;
}

.singleImageWrapper{
    margin-top:50px;
}


.singleImageWrapper iframe{
    width:100%;
    min-height:100%;
}

#PagesTest .dottedSep{
    padding-top:10px;
    padding-bottom:30px;
}
/* overlays */
#singlePageIntroSkate{
    height:300px;
    background: url('img/Background/Planet-informatic-background-skate-3.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

/* sk8 */
#singlePageSkate{
    height:300px;
    background: url('img/Background/Planet-informatic-background-4.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

#singlePageContentSkate{
    background: url('img/Background/Planet-informatic-background-skate.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size:cover;
            background-attachment: fixed;
            background-color: #0c0c0c;
}
#singlePageIntro .container{
    padding:30px;
}

#singlePageContent{
    padding:50px;
}

.singleProjectInfo ul li{
    list-style-type: none;
}

.singleProjectInfo{
    border-left:4px double #ff1044;

}

.singleProjectInfo ul{
    list-style-type: none;
    padding:10px 40px;
}

.singleImageWrapper{
    margin-top:50px;
}


.singleImageWrapper iframe{
    width:100%;
    min-height:100%;
}

#singlePageIntro .dottedSep{
    padding-top:10px;
    padding-bottom:30px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  Pre Loader  */
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/



#preloader  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    overflow:hidden;

}

#status  {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(img/ajax-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
}


#preloader .loading{
    width: 130px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 100px 0 0 -65px;
    text-align: center;
}

iframe{
    border:none;
}


.tp-banner-container{
    width:100%;
    position:relative;
    padding:0;
}

.tp-banner{
    width:100%;
    position:relative;
}


/*recent news section*/

#recentBlog, #mainBlog{
       padding: 5px 0 5px;
           background: url('img/Background/Planet-informatic-background-30.png');
           background-repeat: no-repeat;
           background-position: center center;
           background-size:cover;
           background-attachment: fixed;
       background-color: #000000;
}

#recentBlog .recentblogPost{
    padding:15px;
    margin-top:20px;
    margin-bottom:20px;
}



#recentBlog .squareWrapper{
    float: left; width: 100px; height: 100px; margin-right:20px;
    margin-bottom:20px;
}

#recentBlog .recentPostTitle{
    padding-top:27px;
    padding-left:10px;
}

#recentBlog .recentPostTitle .oswald,
#mainBlog .postTitle .oswald{
    text-transform:none;
    letter-spacing:0px;
    font-size:14px;
}

#recentBlog .recentDate{
    position:absolute;
    top: 20px;
    width:100px;
    margin-left:0px;
    text-align:Center;
}

/*BLOG PAGE*/

#mainBlog{
    padding-top:100px;
}

#mainBlog hr{
    margin-bottom:60px;
}

article{
    margin-bottom:60px;
}

article .squareWrapper{
    margin:0;
    float: left; width: 130px; height: 130px; margin-right:20px;
    margin-bottom:20px;

}

article .recentDate{
    position:absolute;
    top: 35px;
    width:100px;
    margin-left:14px;
    text-align:Center;
}


article .recentDate h3,
article .recentDate h4{
    margin:0;
}

article img{
    padding-bottom:50px;
}
article p{
    padding-bottom:20px;
}

article .postTitle{
    padding-top:18px;
}

.widget ul{
    list-style-type:square;
    padding-left:20px;
}


.widget{
    padding: 10px;
    margin-bottom:20px;
}


.widget ul li{
    color:#ff1044;
    margin-bottom:10px;
}

.widget ul li a{
    color: #353535;
}


#mainBlog .form-control {
    height: 45px;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 0px;
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
    letter-spacing:1px;
}

#mainBlog .form-control:focus {
    border-color: #ff1044;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(201, 159, 108, 0.60);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(201, 159, 108, 0.60);
}

#mainBlog .input-group-addon {
    padding: 12px 18px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: white;
    text-align: center;
    background-color: #282828;
    border: 0;
    border-radius: 0;
}

#mainBlog .input-group-addon a{
    color: #ff1044;
}

#mainBlog  .blogPostSeparator {
    width: 60px;
    height: 2px;
    background-color: #ff1044;
    margin-bottom: 20px;
    margin-top: 15px;
}

#mainBlog article .owl-nav div {
    padding: 0;
}

#mainBlog article .owl-nav i{
    margin-top: 8px;
}


#mainBlog article .owl-nav div {
    position: absolute;
    top: 45%;
    -webkit-transform: translateY(-45%);
    -ms-transform: translateY(-45%);
    transform: translateY(-45%);
    color:white;
    width:50px;
    height:50px;
}

#mainBlog article .owl-nav .owl-prev{
    left: 10px;

}

#mainBlog article .owl-nav .owl-next{
    right: 10px;
}

#mainBlog article .owl-theme .owl-controls .owl-nav [class*=owl-] {
    color: #fff;
    font-size: 19px;
    background: transparent;
}

#mainBlog article .owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: transparent;
    text-decoration: none;
}

#mainBlog blockquote p{
    padding:0;
}

#blockdecode {
   border:1px solid #008080;
   margin: 1px 0 24px 0;
   background: #000000;
   padding: 20px;
overflow-x: auto;
}

/*Block de code pour le blog*/

.codeblock {
    border: 1px solid #581845;
    margin-bottom: 24px
}

.codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'] {
    border: 1px solid #e1e4e5;
    padding: 0px;
    overflow-x: auto;
    background: #fff;
    margin: 1px 0 24px 0
}

.codeblock div[class^='highlight'], pre.literal-block div[class^='highlight'], .rst-content .literal-block div[class^='highlight'], div[class^='highlight'] div[class^='highlight'] {
    border: none;
    background: none;
    margin: 0
}

div[class^='highlight'] td.code {
    width: 100%
}

.linenodiv pre {
    border-right: solid 1px #581845;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
    color: #581845
}

div[class^='highlight'] pre {
    white-space: pre;
    margin: 0;
    padding: 12px 12px;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    font-size: 12px;
    line-height: 1.5;
    display: block;
    overflow: auto;
    color: #404040
}

@media print {
    .codeblock, pre.literal-block, .rst-content .literal-block, .rst-content pre.literal-block, div[class^='highlight'], div[class^='highlight'] pre {
        white-space: pre-wrap
    }
}

.hll {
    background-color: #ffc;
    margin: 0 -12px;
    padding: 0 12px;
    display: block
}

.c {
    color: #998;
    font-style: italic
}

.err {
    color: #a61717;
    background-color: #e3d2d2
}

.k {
    font-weight: bold
}

.o {
    font-weight: bold
}

.cm {
    color: #998;
    font-style: italic
}

.cp {
    color: #999;
    font-weight: bold
}

.c1 {
    color: #998;
    font-style: italic
}

.cs {
    color: #999;
    font-weight: bold;
    font-style: italic
}

.gd {
    color: #000;
    background-color: #fdd
}

.gd .x {
    color: #000;
    background-color: #faa
}

.ge {
    font-style: italic
}

.gr {
    color: #a00
}

.gh {
    color: #999
}

.gi {
    color: #000;
    background-color: #dfd
}

.gi .x {
    color: #000;
    background-color: #afa
}

.go {
    color: #888
}

.gp {
    color: #555
}

.gs {
    font-weight: bold
}

.gu {
    color: purple;
    font-weight: bold
}

.gt {
    color: #a00
}

.kc {
    font-weight: bold
}

.kd {
    font-weight: bold
}

.kn {
    font-weight: bold
}

.kp {
    font-weight: bold
}

.kr {
    font-weight: bold
}

.kt {
    color: #458;
    font-weight: bold
}

.m {
    color: #099
}

.s {
    color: #d14
}

.n {
    color: #333
}

.na {
    color: teal
}

.nb {
    color: #0086b3
}

.nc {
    color: #458;
    font-weight: bold
}

.no {
    color: teal
}

.ni {
    color: purple
}

.ne {
    color: #900;
    font-weight: bold
}

.nf {
    color: #900;
    font-weight: bold
}

.nn {
    color: #555
}

.nt {
    color: navy
}

.nv {
    color: teal
}

.ow {
    font-weight: bold
}

.w {
    color: #bbb
}

.mf {
    color: #099
}

.mh {
    color: #099
}

.mi {
    color: #099
}

.mo {
    color: #099
}

.sb {
    color: #d14
}

.sc {
    color: #d14
}

.sd {
    color: #d14
}

.s2 {
    color: #d14
}

.se {
    color: #d14
}

.sh {
    color: #d14
}

.si {
    color: #d14
}

.sx {
    color: #d14
}

.sr {
    color: #009926
}

.s1 {
    color: #d14
}

.ss {
    color: #990073
}

.bp {
    color: #999
}

.vc {
    color: teal
}

.vg {
    color: teal
}

.vi {
    color: teal
}

.il {
    color: #099
}

.gc {
    color: #999;
    background-color: #EAF2F5
}